{% extends '@App/Default/layout.html.twig' %}

{% block body %}
    <h1>Insertar Nuevo Anuncio</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <ul>
        <li>
            <input class="nav-boton" type="submit" value="Aceptar"  />
            <a class="cancelar" href="{{ path('anuncio_index') }}">Cancelar</a>
        </li>
    </ul>


    {{ form_end(form) }}

{% endblock %}
